.cus-label {
    display: block;
    font-size: 18px;
    margin-bottom: 4px;
}

.cus-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 12px;
}